*{font-family:Helvetica, sans-serif;
  box-sizing: border-box;}

	h1 {
  width: 90%;
  height: 100px;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  font-size: 175%;
  }
  
  .section{
    background-color: #8e8e8e;
    margin:10px;
    border:2px solid black;
   }


   span{
   	width:40%;
   	float:right;
   	border: 2px solid black;
   	text-align: center;
   	font-size: 125%;
   	float:right;
   }

   p{
   	margin:10px;
   	margin-top:40px;
   	clear:both;
   }

   .row {
    width: 90%;
    border: 5px;
    margin-right: auto;
    margin-left: auto;
    padding:5px;
   }
   #c1{
    background-color:pink;
  }
   #c2{
    background-color:red; 
    color:white;
  }
   #c3{
    background-color: #e1ca8d;
  }
   

/* for Desktop */
@media (min-width: 992px) {
  .col-lg-4 {
    float: left;
    width: 33.33%;
  }
}

/*for Tablet */
@media (min-width: 768px) and (max-width: 991px) {
  .col-md-6, .col-md-12 {
    float: left;
    
  }
  .col-md-6 {
    width: 50%;
  }
  .col-md-12 {
    width: 100%;
  }
}

/*for Mobile */
@media (max-width: 767px) {
  .col-sm-12 {
    float: left;
    width: 100%;}
}